$width: 662px;
$width2: 1050px;

@media(max-width:#{$width}) {

.headAuthRes{
    display: block !important;
}
.headAuth{
    display: none !important;
}

    .login-wrapper {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .login-relative {
        width: 100%;
    }

    .signup-img {
        border-radius: 0;
        height: 238px;
        border-radius: 0;
        object-fit: cover;
        object-position: top;
    }
    .singup-logos-abs{
        display:none;
    }
    .login-right-cont{
        width: 100%;
        padding: 1rem;
    }
    .signup-welcome{
      
font-size: 16px;
font-weight: 700;


    }
    .signup-labels-inputs{
        flex-direction: column-reverse;
    }
    .signup-collection{
        width: 100%;
    }
}


@media(min-width:#{$width}) and (max-width:#{$width2}){


    .login-wrapper {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .login-relative {
        width: 100%;
    }

    .signup-img {
        height: 250px;
        border-radius: 0;
    }
    .singup-logos-abs{
        display:none;
    }
    .login-right-cont{
        width: 100%;
        padding: 1rem;
        max-width:600px;
        margin: 0 auto;
    }
    .signup-welcome{
      
font-size: 16px;
font-weight: 700;


    }
    .signup-labels-inputs{
        flex-direction: column-reverse;
    }
    .signup-collection{
        width: 100%;
    }


}