@media only screen and (max-width: 1150px) and (min-width: 662px) {
    .articleContainer .mediaHeaderTitle{
        font-size: 25px ;
    }
    .articleContainer .mediaHeaderTitle::after{
        top:3px
    }
    .articleItems{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:10px !important;
        direction:rtl;
        
    
    }
    .articleCard{
        background-color: #fff;
        padding: 15px 15px 15px 10px;
        display: flex;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        box-shadow: 0px 4px 8px 0px #0000001F;
        width: 99%;
        /* height: 210px; */
        height: 220px;
        overflow: hidden;
        cursor: pointer;   
        word-wrap: break-word;
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: normal;
      
    }
    .articleCardImg{
        width: 200px;
        height: 180px !important;

    }
    .articleCardTitle{
        margin-top: 5px;
        margin-bottom: 15px;
        font-size: 16px;
        height: 50px;
    }
    .articleCardDesc{
        font-family: Cairo;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.7;
        color: #767676;
        width: 97%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    
        
    }
    .oneArticleContainer .mediaHeaderTitle{
        font-size: 25px ;
    }
    .oneArticleContainer .mediaHeaderTitle::after{
        top:3px
    }

}
@media only screen and (max-width: 662px) and (min-width: 0){
    .articlesFilterContainer{
        margin-bottom: 0 !important;
    }
    .articlesFilterPage{
        padding-bottom: 1px !important;
    }
    .oneArticlePage .media_more_btn_res,.articlesFilterPage .media_more_btn_res{
        display: none !important;
    }
    .articlesPage {
        margin-top: 0 !important;
        padding-bottom: 1px !important;

    }

    .articlesPage .more_btn{
        /* margin-left: 44% !important; */
        margin: 0 0 0 auto !important;
    }
    .articlesFilterPage{
        padding-top: 20px !important;

    }
    .oneArticlePage{
        padding-top: 1px !important;
        margin-top: 0 !important;

    }
    .articleContainer .mediaHeaderTitle, .articlesFilterContainer .mediaHeaderTitle,.oneArticleContainer .mediaHeaderTitle{
        font-size: 25px ;
    }
    .articleContainer .mediaHeaderTitle::after{
        top:3px
    }
    .articleContainer .articleItems,.articlesFilterContainer .articleItems{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:10px !important;
        direction:rtl;
        
    
    }
    .articleContainer .articleCard, .articlesFilterContainer .articleCard{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .articleContainer .articleCardDesc, .articlesFilterContainer .articleCardDesc{
        font-family: Cairo;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.7;
        color: #767676;
        width: 97%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 8px;
        
    }
    .articleContainer .media_more_btn_res{
        all: unset;
        color: rgba(129, 4, 0, 1);
        cursor: pointer;
        font-size: 14px;
        display: block !important;
    }
    .articleContainer .media_more_btn{
        display: none;
    }
    .articleCardImg {
        height: 180px !important;
        width: 170px !important;
        margin: auto;
    }
    .articleCardImg > a > img{
        border-radius: 7px !important;
        -webkit-border-radius: 7px !important;
        -moz-border-radius: 7px !important;
        -ms-border-radius: 7px !important;
        -o-border-radius: 7px !important;
}
    .articleCard{
        padding:  15px 10px !important;
        border-radius: 15px !important;
        -webkit-border-radius: 15px !important;
        -moz-border-radius: 15px !important;
        -ms-border-radius: 15px !important;
        -o-border-radius: 15px !important;
}

.display_book_iframe_block{
    padding-top: 0 !important;
}

.oneArticlePage .article-swipe{
    left: 15px !important;
    width: 93% !important;
    margin: 0 auto !important;
}
.close_article_icon{
    position: absolute;
    top: 27px !important;
    right: 13px !important;
    background: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    font-size: 20px !important;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 20;
    transition: 0.3s;
}
}

@media only screen and (max-width: 1368px) and (min-width: 912px) {
    .articlesPage,
    .articlesFilterPage {
        min-height: 54vh !important;
    }

    .articlesPage .more_btn{
        /* margin-left: 44% !important; */
        margin: 0 0 0 auto !important;
    }
}

