@media only screen and (max-width: 1150px) and (min-width: 662px)  {
    .sayingsWriteContainer .mediaHeaderTitle{
        font-size: 25px ;
    }
    .sayingsWriteContainer .mediaHeaderTitle::after{
        top:3px
    }

    .sayingWriteCard{
        display: flex;
        position: relative;
    
    }
    .sayingWriteCardImg{
        width: 35%;
        height: 100%;
        position: absolute;
        top: 95px;
        right: 30px;
        z-index: 20;
        border-radius: 200px !important;
        -webkit-border-radius: 200px !important;
        -moz-border-radius: 200px !important;
        -ms-border-radius: 200px !important;
        -o-border-radius: 200px !important;
    }
    .sayingWriteCardImg > img{
        border-radius: 200px !important;
        -webkit-border-radius: 200px !important;
        -moz-border-radius: 200px !important;
        -ms-border-radius: 200px !important;
        -o-border-radius: 200px !important;
}
    .sayingWriteCardDesc{
        font-family: Tajawal;
        font-size: 14px;
        font-weight: 500;
        line-height: 38px;
        width: 95%;
        -webkit-line-clamp: 5 !important;
    
    }
    .sayingWriteCardSignName{
        font-family: Tajawal;
        font-size: 16px;
        font-weight: 500;
        line-height: 28.8px;
        text-align: right;
        margin-bottom: 5px;
        
        }
        .sayingWriteCardCategory{
            font-family: Tajawal;
            font-size: 14px;
            font-weight: 500;
            line-height: 28.8px;
            text-align: center;
            color: #810400;
            
            }
        .SayingsBG{
            background-repeat: no-repeat;
            background-size: cover !important;
            position: relative;
            overflow: hidden;
            margin-bottom: 0 !important;
            height: 50px;
        }
        .SayingsBGTitle{
            position: absolute;
            top: 20%;
            left: 40%;
            color: #810400;
            font-family: Tajawal;
            font-size: 20px;
            font-weight: 900;
            line-height: 48px;
            text-align: center;
            
        }
        /* .overlayCard{
            margin: auto !important;
            top: 14% !important;
            right: 9% !important;
            width: 85% !important;
        } */
        .overlayCardDesc {
            font-size: 1rem !important;
        }
.overlayCard.shareCard{
        top: 50% !important;
        left: 50% !important;
}
    .MultimediaShare-video-share{
        z-index: 1000000 !important;
    }
}
@media only screen and (max-width: 662px) and (min-width: 0) {
    .sayingsPage {
        background: #F8F3ED;
        color: black;
        margin-top: 0 !important;
        min-height: 60.8vh;
    }
    .sayingsPage .sayingsWriteContainer {
        margin-top: -70px;
        position: relative !important;
        z-index: 100 !important;
    }
    
.sayingFilterPage {
    background: #F8F3ED;
    color: black;
    padding-top: 20px !important;
    padding-bottom: 0 !important;
    min-height: 70vh !important;
}
.sayingFilterContainer{
    margin-bottom: 0 !important;
}
    .SayingsBGTitle {
        position: absolute;
        top: 20%;
        left: 55%;
        transform: translate(-50%, -50%);
        color: #810400;
        font-family: Tajawal;
        font-size: 0.9rem;
        font-weight: 900;
        line-height: 48px;
        text-align: center;
    }
    .mediaHeader{
        margin-top: 0;
    }
    .SayingsBG {
        display: none !important;
    }
    .SayingsBGRes{
        display: block !important;
        margin-bottom: 100px ;
    }
  .sayingFilterPage .sayingsWriteItems ,.sayingsWriteContainer .sayingsWriteItems {
        display: grid;
        grid-template-columns: repeat(1,1fr) !important;
        gap: 56px;
        direction: rtl;
        margin-top: 30px;
        padding-bottom: 10px;
        width: 100%;
    }
    .sayingFilterPage   .SayingsBGTitle, .sayingsWriteContainer .SayingsBGTitle{
        position: absolute;
        top: 10px;
        left: 40%;
        color: #810400;
        font-family: Tajawal;
        font-size: 14px;
        font-weight: 900;
        line-height: 48px;
        text-align: center;
        
    }
    .sayingFilterPage  .sayingWriteCardImg, .sayingsWriteContainer .sayingWriteCardImg {
        width: 35%;
        height: 100%;
        position: absolute;
        top: 15%;
        right: 10px;
        z-index: 20;
        height: 220px;
        border-radius: 220px !important;
        -webkit-border-radius: 220px !important;
        -moz-border-radius: 220px !important;
        -ms-border-radius: 220px !important;
        -o-border-radius: 220px !important;
}
    .sayingFilterPage  .sayingWriteCardImg > img,.sayingsWriteContainer .sayingWriteCardImg  > img{
        border-radius: 220px !important;
        -webkit-border-radius: 220px !important;
        -moz-border-radius: 220px !important;
        -ms-border-radius: 220px !important;
        -o-border-radius: 220px !important;
}
  
    .sayingFilterPage  .sayingWriteCard, .sayingsWriteContainer .sayingWriteCard {
        display: flex;
        position: relative;
    
    }
    .sayingFilterPage    .sayingWriteCardDesc, .sayingsWriteContainer .sayingWriteCardDesc{
        font-family: Tajawal;
        font-size: 14px;
        font-weight: 500;
        line-height: 2 !important;
        width: 95%;
        overflow: hidden;
        margin-bottom: 10px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3; 
          position: relative;
        -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
        background-color: white;
        -webkit-line-clamp: 5 !important;
        max-height: 140px !important;
        min-height: 40px !important;
        height: auto;
    }
    .sayingWriteCardDesc.expanded {
        -webkit-line-clamp: unset; /* Remove truncation */
        -webkit-mask-image: none; /* Remove fade */
        mask-image: none; /* Remove fade */
        overflow: visible; /* Show all text */
    } 
    .sayingFilterPage  .sayingWriteCardContent, .sayingsWriteContainer .sayingWriteCardContent {
        background-color: #fff;
        padding-right: 40%;
        padding-top: 4%;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        box-shadow: 0px 4px 8px 0px #0000001F;
        width: 100%;
    }
    .sayingFilterPage  .signQuote, .sayingsWriteContainer .signQuote {
        width: 30px;
        margin-bottom: 5px;
    }

    
    .sayingFilterPage    .sayingWriteCardSignName, .sayingsWriteContainer .sayingWriteCardSignName{
    font-family: Tajawal;
    font-size: 17px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: right;
    margin-bottom: 1px;
    
    }
    .sayingFilterPage    .sayingWriteCardCategory, .sayingsWriteContainer .sayingWriteCardCategory {
        font-family: Tajawal;
        font-size: 14px;
        font-weight: 500;
        line-height: 8.8px;
        text-align: center;
        color: #810400;
        
        }
        .sayingFilterPage     .sayingsWriteContainer .mediaHeaderTitle{
            font-size: 20px ;
        }
        .sayingFilterPage     .sayingsWriteContainer .mediaHeaderTitle::after{
            top:3px
        }
        .sayingFilterPage  .media_more_btn_res{
            all: unset;
            color: rgba(129, 4, 0, 1);
            cursor: pointer;
            font-size: 14px;
            display: none !important;
        }
        .sayingFilterPage     .sayingsWriteContainer  .media_more_btn{
            display: none;
        }
        .sayingFilterPage      .SayingsBG{
            background-repeat: no-repeat;
            background-size: cover !important;
            position: relative;
            overflow: hidden;
            margin-bottom: 0 !important;
            height: 50px;
        }

        /* overlay */
        .overlayCard{
            padding: 20px !important;
            width: 90% !important;
            flex-direction: column;
            align-items: center;
            gap: 0 !important;
        }
        .overlayCardImg{
            width: 45% !important;
            height: 200px !important;
        }
        .overlayCardDesc {
            font-size: 0.8rem !important;
            line-height: 1.5 !important;
            max-height: 125px !important;
            min-height: 30px !important;
        }
        .overlayCardSignName {
            font-size: 0.9rem;
        }
        .overlayCardCategory{
            font-size: 14px;
        }
        .categoryRow .overlayCardCardContent {
            width: 90% !important;
        }
        .overlayCard.shareCard {
            left: 48% !important;
            
        }
        .Toastify__toast-container {
            top: 10px ;
        }
        .shareItemImg {
            background: rgb(249, 249, 249);
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            text-align: center;
            padding: 10px;
            width: 40px;
            height: 40px;
            margin-bottom: 10px !important;
            margin: auto;
        }
        .shareItems {
            gap: 20px 8px;
        }
       .sayingsWriteContainer .overlayCard.shareCard{

    }
        .shareItem > span{
            font-size: 14px !important;
        }
        .shareItemImg.face {
            width: 32px !important;
            height: 41px !important;
        }
        .overlayCard.shareCard{
            height: auto !important;
        }
 .sayingWriteCardDesc {
    height: 110px !important;
 }
}
@media only screen and (min-width: 1150px) and (max-width: 1400px){
    .sayingWriteCardImg{
        height: 90% !important;

    }
    .sayingWriteCardSignName{
        font-size: 0.8rem;
        width: 100%;
    }
    .sayingWriteCardDesc{
        font-size: 14px;
    }

}
@media only screen and (min-width: 663px) and (max-width: 1400px){
    .sayingWriteCardSign{
        margin-top: 5px ;
        display: block !important;
    }
    .sayingWriteCardSignName {
        font-family: Tajawal;
        font-size: 14px !important;
        font-weight: 500;
        line-height: 28.8px;
        text-align: right;
        margin-bottom: 5px;
    }
    .sayingsPage .sayingWriteCardImg,.sayingFilterPage .sayingWriteCardImg,.categoryRow  .sayingWriteCardImg  {
        width: 37%;
        height: 90%;
        position: absolute;
        top: 60px;
        right: 20px !important;
        z-index: 20;
    }
    .saying.overlay.shared .overlayCard{
        width: 80%;
        height: 50%;
        direction: rtl;

    }
    #portal-root .overlayCard.shareCard{
        top: 40% !important;
        height: 500px !important;

    }
   .sayingsPage .sayingWriteCardImg,.sayingFilterPage .sayingWriteCardImg,.categoryRow  .sayingWriteCardImg {
        height: 80%;
    }
    .sayingsWriteItems{
        gap: 30px;
    }
    .sayingWriteCardSignImg{
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 70px;
    }
    .SayingsBG {
        height: 200px !important;
    }
    .SayingsBGTitle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-30%,-20%);
        color: #810400;
        font-family: Tajawal;
        font-size: 20px;
        font-weight: 900;
        line-height: 48px;
        text-align: center;
        -webkit-transform: translate(-30%,-20%);
        -moz-transform: translate(-30%,-20%);
        -ms-transform: translate(-30%,-20%);
        -o-transform: translate(-30%,-20%);
}
.sayingWriteCardDesc{
    line-height: 30px;
}

}
@media only screen and (max-width: 900px) and (min-width: 663px){
    .sayingsPage .sayingWriteCardImg,.sayingFilterPage .sayingWriteCardImg,.categoryRow  .sayingWriteCardImg {
        height: 63%;
    }
    .overlayCard {
        width: 95%;
        max-width: 100%;
        background-color: #fff;
        display: flex
;
        justify-content: space-between;
        gap: 30px;
        color: #000;
        padding: 50px 60px 40px 60px;
        position: absolute;
        top: 50% !important;
        left: 50% !important;
        right: initial !important;
        transform: translate(-50%, -50%) !important;
        border-radius: 15px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12);
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        -webkit-transform: translate(-50%, -50%) !important;
        -moz-transform: translate(-50%, -50%) !important;
        -ms-transform: translate(-50%, -50%) !important;
        -o-transform: translate(-50%, -50%) !important;
    }
    .topic-right-side .visits-head-img {
        top: 50%;
        top: 0;
        left: 1%;
        border-radius: 20px !important;
        -webkit-border-radius: 20px !important;
        -moz-border-radius: 20px !important;
        -ms-border-radius: 20px !important;
        -o-border-radius: 20px !important;
        height: 100%;
        object-fit: cover;
        object-position: center !important;
        height: 300px !important;

    }
    .custom-static-icon {
        margin-left: 20px;
    }
    .sayingWriteCardSignImg{
        width: 50px;
    }
}
