@media only screen and (max-width: 1150px) and (min-width: 662px)  {

    .writingsItems{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 25px;
        direction: rtl;
        margin-top: 30px;
        padding-bottom: 70px;
    }
    .writingsCard{
        height: 180px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        cursor: pointer; 
         direction: ltr;
      
    }
    .writingsCardImg {
        width: 100%;
        height: 150px;
        background-color: #fff;
        border-radius: 0 12px 12px 0;
        -webkit-border-radius: 0 12px 12px 0;
        -moz-border-radius: 0 12px 12px 0;
        -ms-border-radius: 0 12px 12px 0;
        -o-border-radius: 0 12px 12px 0;
    }
    .writingsCardContent{
        text-align: right;
        background-color: #fff;
        border-radius: 12px 0 0 12px;
        -webkit-border-radius: 12px 0 0 12px;
        -moz-border-radius: 12px 0 0 12px;
        -ms-border-radius: 12px 0 0 12px;
        -o-border-radius: 12px 0 0 12px;
        height: 150px;
        padding-right: 40px;
    }
    .writingsCardTitle{
        font-weight: bold;
        font-size: 16px !important;
        padding-top: 20px;
        margin-bottom: 15px;
    }
    .writingsCardDesc{
        font-weight: 600;
        color: #767676;
        font-size: 14px !important;
        text-align: right;
        float: right;
        width: 90%;
        font-family: Cairo;
    }
    .writingsCardContent{
        padding-right: 10px;
    }
    .writingsBGTitle{
        position: absolute;
        top: 38%;
        left: 30%;
        color: #810400;
        font-size: 25px;
        font-weight: bold;
    
    }
    .handBG {
        bottom: -2px;
        left: 55%;
        width:200px!important;
    }
    .bookBG{
        width: 130px !important;
    }
}
@media only screen and (max-width: 1050px) and (min-width: 800px) {
    .writingsBGTitle{
        position: absolute;
        top: 38%;
        left: 34%;
        color: #810400;
        font-size: 25px;
        font-weight: bold;
    
    }
}
@media only screen and (max-width: 662px) and (min-width: 0){
    .writingsPage {
        background: #F8F3ED;
        color: black;
        margin-top: 0 !important;
        min-height: 60.8vh;
    }
    .writingsBG{
        background-image: url('../../../../public/assets/media/writings/bg1.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        position: relative;
        overflow: hidden;
        margin-bottom: 35px;
         height: 100px;

    }
    .writingsBGTitle{
        position: absolute;
        top: 30%;
        left: 26%;
        color: #810400;
        font-size: 18px;
        font-weight: bold;
    
    }
    .writingsItems{
        display: grid;
        grid-template-columns: repeat(1,1fr) !important;
        direction: rtl;
        margin-top: 30px;
        padding-bottom: 70px;
    }
  
    .handBG  > img{
        position: relative;
        display: block;
        bottom: -2px;
        width:75px!important;
        left: 24px;
        top: -10px;
    }
    .bookBG{
        width: 70px !important;
    }
   .writingsPage .mediaHeader{
        margin-top: 0 !important;
    }
    .writingsPage .mediaHeaderTitle{
        font-size: 25px ;
    }
    .writingsPage .mediaHeaderTitle::after{
        top:3px
    }
    .writingsCard{
        height: 120px !important;
    }
    .writingsCardImg {
        height: 120px !important;
    }
    .writingsCardContent{
        height: 120px !important;
        padding-right: 10px !important;
    }
    .writingsCardTitle{
        font-size: 16px !important;
        padding-top: 5px !important;
        margin-bottom: 5px !important;
    }
    .writingsCardDesc{
        font-size: 14px !important;  
        width: 100% !important;

    }
    .PlusIcon{
        border: 3px solid #000;
        padding: 2px;
        font-size: 16px !important;
        font-weight: bold;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
    }
}