.topic_parent{
    background: #F8F3ED;
    min-height: 110vh;
    overflow-y:scroll ;
}
.topic_parent::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.topic {
    width: 90%;

    display: flex;
    margin: 0 auto 0 auto;
    // margin-top: 196px;

}

.topic-wrapper {
    display: flex;
    flex-direction: column;

    align-items: flex-end;


    position: relative;
    padding: 2rem 0;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

.topic-date {
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    color: #98A0A2;

}

.topic-sub {
    font-size: 33px;
    font-weight: 500;
    text-align: right;
    color: #810400;

}

.topic-left-side {
    display: flex;
    flex-direction: column;
    gap: 15px;
    // align-items: flex-end;
    // width: 100%;
    align-items: center;
}


.topic-left-headline-cont {
    display: flex;
    box-shadow: 0px 4px 8px 0px #0000001F;
    background: #FFFFFF;
    border-radius: 10px;
    width: 385px;
    height: fit-content;
    padding: .75rem;
    gap: 10px;
    cursor: pointer;
    align-items: center;
   
}
.topic-left-p{
font-size: 15px;
font-weight: 700;
letter-spacing: -0.01em;
color: #1A1A1A;
width: 100%;
text-align: right;

}
.topic-left-headline{
    display: flex;
    flex-direction: column;
    width: 65%;
}
.topic-right-headlineimg{
    width: 50%;
    height: 100%;
    
    img{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
}

}
.topic-left-top-p{
   

    font-size: 18px;
    font-weight: 500;
    text-align: right;
    color: #810400;
    margin-top: 10px;
    margin-bottom: 25px;
  
}
.topic-left-mid-p{
    
    font-size: 13px;
    font-weight: 400;
    text-align: right;
    color: #98A0A2;
    margin-top: 10px;
    height: 400px;
    overflow: hidden;
}
.topic-left-bot-p{
    
    font-size: 13px;
    font-weight: 400;
    text-align: right;
    color: #98A0A2;
    margin-top: 10px;
}
.visits-read-arrow{
    display: flex;
    align-self: flex-end;
    gap: 5px;
    cursor: pointer;
    margin-top: 15px;
    img{
        width: 10px;
        height: 15px;
        object-fit: contain;
        margin-top: 1.5px;
        display: none;
    }
    position: relative;
    z-index: 100000;
}
.topic-left-right-sides{
    width: 100%;
    display: flex;
    gap: 50px;
    margin-top: 60px;
}
.topic-right-side{
    width: 900px;
    margin-top: 40px;
    position: relative;
    height: 400px;

}

.topic-right-side .visits-head-img {
    top: 50%;
    // max-height: 357px;
    top: 0;
    left: 1% ;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
    height: 100%;
    object-fit: cover;
    object-position: bottom;


}
.topic-right-side img{
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
 

}

.topic-right-top-img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.topic-bottom-img{
    width: 48%;

}
.topic-bottom-imgs-cont{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    margin-top: 100px;  
    justify-content: flex-end; 
}
.topic-right-ps{
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: right;
    color: #1A1A1A;
    padding: .5rem;


    P{
        margin-top: 20px;
        direction: rtl;
    }
}
.topic-left-mid-p{
    // display: -webkit-box;              /* Enables flexbox-like layout in WebKit browsers */
    // -webkit-box-orient: vertical;      /* Stacks the child elements vertically */
    // -webkit-line-clamp: 4;             /* Limits the text to 4 lines */
    // overflow: hidden; 
    height: 20px;
}
html {
    scroll-behavior: auto !important; /* Default: no smooth scrolling */
  }