.sayingsWriteContainer {
  margin-top: 45px;
}
.sayingsWriteItems {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 150px 40px;
  direction: rtl;
}

.sayingWriteCard {
  display: flex;
  height: 100%;
  position: relative;
}

.sayingsPage .sayingWriteCardImg {
  width: 37%;
  height: 90%;
  position: absolute;
  top: 60px;
  right: 30px;
  z-index: 20;
}
.sayingFilterPage .sayingWriteCardImg {
  width: 37%;
  height: 109%;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 20;
}
.sayingWriteCardImg > img {
  width: 100%;
  height: 100%;
  border-radius: 120px;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  -ms-border-radius: 120px;
  -o-border-radius: 120px;
}
.sayingWriteCardImg > iframe {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  z-index: 20;
}
.sayingWriteCardContent {
  background-color: #fff;
  padding-right: 45%;
  padding-top: 4%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-shadow: 0px 4px 8px 0px #0000001f;
  width: 100%;
}
.signQuote {
  width: 15%;
  max-width: 50px;
  margin-bottom: 0.625rem;
}
.sayingWriteCardDesc {
  font-family: Tajawal;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  width: 85%;
  overflow: hidden;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  position: relative;
  -webkit-mask-image: linear-gradient(to bottom, black 25%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 25%, transparent 100%);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: white;
  min-height: 90px;
  height: 160px;
  -webkit-line-clamp: 4 !important;
  direction: rtl;
}
.sayingWriteCardSignImg {
  width: 90px;
}
.sayingWriteCardDesc.expanded {
  -webkit-line-clamp: unset;
  -webkit-mask-image: none;
  mask-image: none;
  overflow: visible;
}
.moreReadWrite {
  all: unset;
  display: block;
  font-size: 14px;
  padding: 5px 25px;
  cursor: pointer;
  border-radius: 10px;
  background: rgba(129, 4, 0, 1);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12);
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 10px auto 30px auto; /* Horizontal centering */
  text-align: center;
}
.dotsWrite {
  position: absolute;
  top: 25px;
  left: 3%;
  cursor: pointer;
}
.p-overlaypanel {
  width: 124px !important;
}
.p-overlaypanel-content {
  flex-direction: column !important;
}
.writeButton {
  all: unset;
  cursor: pointer;
}
.sayingWriteCardSign {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
  margin-left: 10px;
  min-height: 118px;
}
.sayingWriteCardSignName {
  font-family: Tajawal;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 28.8px;
  text-align: right;
  margin-bottom: 5px;
}

.sayingWriteCardCategory {
  font-family: Tajawal;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: center;
  color: #810400;
}
.moreWriteCard {
  text-align: center;
}
.moreWriteCard > img {
  width: 20px;
  cursor: pointer;
}
/* overlay Card */
.saying.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  /* z-index: 10000;  */
}
.dots.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100 !important;
}
.saying.overlay body.no-scroll {
  overflow: hidden;
}
.overlayCard {
  width: 95%;
  max-width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  color: #000;
  padding: 50px 60px 40px 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.overlay-cancel {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  width: 50px;
}
.overlayCardCardContent {
  text-align: right;
  margin-top: 2.5%;
  width: 90%;
}
.overlayCardDesc {
  font-family: Tajawal;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  width: 100%;
  /* margin-bottom: 10px; */
  font-family: Tajawal;
  font-weight: 500;
  line-height: 43.2px;
  /* min-height: 190px; */
  max-height: 190px;
  overflow-x: scroll;
  padding-bottom: 0px;
}
.overlayCardDesc::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.quoteOverlay {
  width: 30px;
}
.quoteOverlayBottom {
  float: left;
}
.overlayCardSign {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overlayCardSignName {
  font-family: Tajawal;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 10px;
}

.overlayCardCategory {
  font-family: Tajawal;
  font-size: 17px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: center;
  color: #810400;
}
.overlayCardSignImg {
  width: 90px;
}
.btnAction {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
}

.btnAction > img {
  width: 20px;
  opacity: 0.9;
}
.btnAction:last-child > img {
  width: 30px;
}
.btnAction:hover {
  opacity: 0.8;
}
.p-overlaypanel {
  width: 260px !important ;
  margin-top: 15px;
  margin-left: -12px;
  /* position: fixed !important; */
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
  padding: 10px 0 !important;
}

.Toastify__toast-container {
  z-index: 50000000000 !important;
  top: 20px;
  right: 20px;
}

/* share card */
.overlayCardHead {
  display: flex;
  align-items: center;
}
.overlayCard.shareCard {
  display: block !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  padding-top: 60px;
  padding-bottom: 90px;
}
.overlayCard.multiMedia {
  display: block !important;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  padding-top: 30px;
  padding-bottom: 20px;
  height: 450px !important;
}
.overlayCardHead {
  margin-bottom: 40px;
}
.overlayCardHead > img {
  cursor: pointer;
  width: 30px;
}
.overlayCardHeadTitle {
  font-weight: bold;
  margin-right: 8px;
  font-size: 20px;
}

.shareItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 30px 20px;
  margin-bottom: 90px;
}
.sharedItemsBottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}
.shareLinkContentDesc {
  width: 87%;
  word-break: break-word;
}
.shareItem {
  text-align: center;
  cursor: pointer;
}
.shareItem span {
  font-weight: bold;
}
.shareItemImg {
  background: rgb(249, 249, 249);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  padding: 30px;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
.shareItemImg > img {
  width: 100%;
  height: 100%;
}
.shareItemImg.face {
  width: 83px;
  height: 100px;
}
.shareItemImg {
  margin-bottom: 10px;
}
.shareLinkTitle {
  margin-bottom: 10px;
}
.shareLinkContent {
  display: flex;
  align-items: center;
  background: rgba(249, 249, 249, 1);
  justify-content: space-between;
  padding: 20px;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}
.shareLinkContentImg {
  cursor: pointer;
}
.saying.overlay.shared {
  z-index: 10000000 !important;
}
.saying.overlay.shared .overlayCard {
  width: 50%;
  height: 100%;
}

.overlayCardImg {
  width: 350px;
  height: 420px;
}
.overlayCardImg > img {
  width: 100%;
  height: 100%;
  border-radius: 120px;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  -ms-border-radius: 120px;
  -o-border-radius: 120px;
  z-index: 20;
}
.overlayCardDesc {
  direction: rtl;
}
.overlayCard.shareCard {
  direction: rtl;
}
.bgRes > img {
  width: 100%;
}

@media only screen and (min-width: 300px) and (max-width: 450px) {
  .sayingWriteCardContent .moreWriteCard > img {
    margin-top: 0% !important;
    margin-left: 20% !important;
  }
}
