.SayingsBG{
    background-image: url('../../../../../public/assets/media/writings/Sayings/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 35px;
}
.SayingsBGTitle{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #810400;
    font-family: Tajawal;
    font-size: 2.1875rem;
    font-weight: 900;
    line-height: 48px;
    text-align: center;
    
}

@media only screen and (min-width: 1300px) and (max-width: 1360px) {
    .SayingsBG{
        height: 400px !important;
    }
}
