
.sayingsPhotoItems{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    direction: rtl;
}
.sayingsPhotoCard{
    position: relative;
}

.sayingsPhotoCardImg{
    width: 100%;
    height: 400px;
    cursor: pointer;
}
.sayingsPhotoCardImg >img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12);

}
 .download-btn-photo{
    position: absolute;
    bottom: 12px;
    left: 12px;
    background: linear-gradient(90deg, #FFF3D8 0%, #F8F3ED 50%, #FFF3D8 100%);
    color: #000;
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
}
