.profileAccountContainer{
    padding-top: 60px;
    margin-bottom: 80px;
}

.profileAccountFormTitle{
    color: #313957;
    font-size: 17px;
    margin-bottom: 30px;
}
.profileAccountFormUp{
    display: flex;
    align-items: center;
    gap: 20px;

}
.profileAccountImg{
    width: 140px;
    height: 130px;
    margin-left: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color:gray;      
    border: 4px solid #FFF4DA
}

.profileAccountImg>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}
.profileAccountFormUpItems{
    display: flex;
    gap: 15px;
}
.profileAccountFormUpItem{
 
    background: #FFF3D8;
    border: 1px solid orange;
    color: #E99E21;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    cursor: pointer !important;
    font-size: 14px;
}
.profileAccountFormUpItem  label{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    cursor: pointer !important;
    gap: 7px;
    padding: 8px 12px;
}


.profileAccountFormInputs{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
    margin-bottom: 10px;
}
.profileAccountFormInput{
    display: flex;
    flex-direction: column;
}
.profileAccountFormInput > label{
    font-family: Tajawal Medium;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #0C1421;
    margin-bottom: 5px;
    padding-right: 4px;

}
.profileAccountFormInput  > input{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid #D4D7E3;
    background-color: #F3F9FA;
    width: 250px ;
    outline: none;

}

.profileAccountFormBtns{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    cursor: pointer;
}
.profileAccountFormBtns > .profileBtn{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;

}
.profileAccountFormBtns .profileBtn{
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    margin-bottom: 7px;
}
.profileAccountFormBtns > .profileBtn:first-child{
    border: 1px solid #D4D7E3;
    background: #001857;
    color: #fff;
}
.profileAccountFormBtns > .profileBtn:last-child{
    border: 1px solid #D4D7E3;
    background: #F9F9F9;
    color: #001857;
}
.profileAccountFormBtns .profileBtn:hover{
    opacity: 0.8;
}
.profileActive{
    border: 1px solid #EA4335 !important;
    background: #FAF3F3 !important;
    color:#AD8888 !important;

}
.profileAccountFormUpItem  label > img{
width: 20px;
}
.profileAccountFormUpItem  label:last-child > img{
    width: 18px;
}
.profileAccountContainer .loading-dots{
    width: 2%;
}
@media (max-width: 1500px) {
    .profileAccountImg{
        width: 100px;
        height:100px;
        margin-left: 12px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color:gray;      
        border: 4px solid #FFF4DA
    }
    .profileAccountFormInput  > input{
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        padding: 10px 20px;
        border: 1px solid #D4D7E3;
        background-color: #F3F9FA;
        width: 200px ;
        outline: none;
    
    }
    .profileAccountFormInputs{
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 20px;
        margin-bottom: 5;
    
    }
    .profileAccountContainer{
        padding-top: 10px;
        margin-bottom: 80px;
    }
    
}