.soundsOptionsRed {
    background: #810400;
    border-radius: 10px;
    padding: 15px 40px;
    display: flex;
    flex-direction: column;
}

.soundsOptionsItems {



    direction: rtl;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;


}

.soundsOptionsCardBet {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.soundsOptionsCard {
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    /* justify-content:space-between; */
    width:16%;
}

.soundsOptionsCardImg {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
    flex-shrink: 0;
}

.soundsOptionsCardImg>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
    object-position: top;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}

.soundsOptionsCardTitleDesc {
    color: #BEBEBE;
    font-size: 14px;

}

.soundsOptionsCardTitle {
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;
    font-family: Tajawal;
    font-size: 13px;
    font-weight: 700;
   
    letter-spacing: -0.01em;
    
}

.soundsOptionsMore {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: #1C2327;
    width: fit-content;
    padding: .15rem 1rem;
    align-self: center;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.soundsOptionsMore:hover{
    background: #810400;
    color: #fff;
    box-shadow: 0px 0px 1px 2px #00000040;
}