
.soundsContainer{
    /* margin-right: 124px; */
    width: 100%;
    margin-bottom: 40px;
    /* max-width:950px */
}
.soundsLeft{
    width: 75%;
    display: flex
;
    flex-direction: column;
    /* align-items: center; */
    padding: 0 2rem;
    padding-right: 8rem;
    height: 560px;
    overflow: auto;
    &::-webkit-scrollbar{
        display: none;
    }
}
.soundsSidebarCardContent{
    direction: rtl;
    padding-right: 10px;
}