$width: 662px;
$width2: 1050px;

@media(max-width: #{$width}) {


    .soundsPage{
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
    .soundsOptionsRed{
        display: none !important;
    }
    .soundsOptionsRedRes{
        background: #810400 !important;
        border-radius: 10px !important;
        padding: 15px 10px !important;
        display: block !important    ;
        -webkit-border-radius: 10px !important;
        -moz-border-radius: 10px !important;
        -ms-border-radius: 10px !important;
        -o-border-radius: 10px !important;
}

.soundsOptionsRedRes .soundsOptionsMore{
    display: block;
    width: 95%;
    margin:30px  auto 0 auto;
    padding: 7px 0;
}
.recentlySoundsCardDesc{
    color: #000 !important;
}
    
    .soundsItemsflex {
        flex-direction: column;
    }

    .soundsLeft {
        width: 100% !important;
        padding: 1rem !important;
        height: auto !important;
    }

    .soundsOptionsCard {
        width: 50% !important;
    }

    .soundsHeaderTitle {
        font-size: 20px !important;
        font-weight: 700 !important;
        position: relative;
        padding-right: 20px;

        &::before {
            content: '';
            width: 4px;
            height: 30px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            right: 0;
            background: #FCC345;
        }

    }

    .soundsOptionsMore {
        width: 100%;
    }

    .soundsOptionsRed {
        padding: 15px !important;
    }

    .soundsSidebarContainer {
        width: 100% !important;
        background-color: transparent !important;
        padding-right: 1rem !important;
         height: auto !important;
    }

    .soundsSidebarCard {
        background-color: white !important;
        padding: .75rem 2rem !important;
        border-radius: 10px !important;
        margin-bottom: 0 !important;
        text-align: right;
    }


    .infinite-scroll-component {
        height: 355px !important;
        overflow-y: scroll;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        overflow-x: auto;
        gap: 10px;padding-left: 1rem !important;
    }
   .infinite-scroll-component__outerdiv{
    width: 90%;
    margin: auto;
   }
    .soundsOptionsItems {
        direction: rtl;
        color: #fff;
        display: flex
    ;
        flex-wrap: wrap;
        gap: 20px 0px !important;
    }
    
    .soundsContainer {
        .recentlySoundsContainer {
            display: none;
            width: 100%;
        }
    }

    .recently-appear-res {
        display: flex !important;
    }

    .soundsHeaderTitle2 {
        font-size: 20px !important;
        font-weight: 700 !important;
    }
    .paginate.paginateRes {
        margin-top: 10px !important;
    }

    .recentlySoundsItems{
        height: auto !important;
        max-height: 426px !important;

        flex-wrap: wrap !important;
        display: grid !important;
        grid-template-columns: repeat(2,1fr);
        flex-wrap: wrap;
        overflow-x: auto !important;
        gap: 10px !important;
        padding-left: 1rem !important;
    }
    .recentlySoundsCardImg{
        width: 95px !important;
        height: 95px !important;
    }
    .recentlySoundsCard{
        padding: 30px 17px 0px 17px !important;
        width: 164px;
    }
    .sharedCancel{
        position: absolute;
        top: 20px !important;
        right: 4px;
        width: 20px;
        cursor: pointer;
    }
    .play-complex-play .sharedCancel{
        left: 14px;
        top: 6px !important;
    }
    .overlayCardHeadTitle{
        width: 100%;
        text-align: center;
    }
    .profileBookMarkContainer{
        padding-top: 60px;
        height: 765px !important;
        overflow-y: auto;
        overflow-x: visible;
    }
    .soundsSidebarCard{
        height: 110px !important;
    }
}

@media(min-width:#{$width}) and (max-width:#{$width2}){

    .soundsLeft{
        padding-right:0.5rem !important ;
    }
    .paginate .page-link{
        background-color: transparent !important;
        color: #272727 !important;
        border-radius: 7px !important;
        border: none !important;
        cursor: pointer !important;
        padding: 4px 9px !important;
        font-size: 15px !important;
        -webkit-border-radius: 7px !important;
        -moz-border-radius: 7px !important;
        -ms-border-radius: 7px !important;
        -o-border-radius: 7px !important;
         margin-left: 0 !important;
    }
    .more_btn {
        margin-left: 46% !important;
        margin-top: 15px;
    }
    .videos .mediaFiltertion .more_btn{
        margin: 0 0 0 auto !important;
    }
    .recentlySoundsItems{
        display: flex !important;
        flex-wrap: wrap;
        height: 40vh;
        overflow: scroll;
    }

    .soundsOptionsCardBet{
        justify-content: normal !important;
        gap: 6px;

    }
    .recentlySoundsCard{
        padding: 30px 13px 10px 13px  !important;
        width: 158px;
    }
    .soundsSidebarContainer ,.soundsLeft{
        height: 102vh !important;
    }
    .soundsSidebarContainer{
        width: 40% !important;
    }
    .play-info-p-1 {
        color: #1a1a1a;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: -.01em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100px; /* Adjust width to fit approximately two words */
        display: inline-block;
        direction: rtl;

    }
    .sharedCancel{
        top: 35% !important;
        left: 30px !important;
        width: 24px !important;
    }
    .play-loop {
        top: 40%;
        left: 45px !important;
        transform: translateY(-50%);
        width: 17px;
        height: 17px;
    }


}