.soundsSidebarContainer{
    background-color: #fff;
    padding-right: 30px;
    width: 30%;
    /* margin-right: auto; */
    height: 560px;
    /* overflow-y: scroll; */
    /* position: fixed; */
    left: 0;
    padding-bottom: 100px; 
    -ms-overflow-style: none;
    scrollbar-width: none; 
    /* height:100%; */
   
}
.infinite-scroll-component{
    &::-webkit-scrollbar{
        display: none;
    }
    width: 90%;
    margin: auto;
}
.infinite-scroll-component{
    direction: rtl !important;

}
.soundsSidebarHeader{
    display: flex;
    align-items: center;
    padding-top: 30px;
    gap: 100px;
    margin-bottom: 50px;
    position: relative;

}
.soundsSidebarItems{
    position: relative;
    z-index: 1;
    height: 80%;
    overflow-y: auto;
}
.soundsSidebarHeader  li{
    list-style: none;
}
.soundListIcon{
    cursor: pointer;
}
.soundsSidebarHeaderRight{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.soundPlusIcon{
    border: 2px solid #000;
    padding: 2px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
}
.soundsSidebarHeaderTitle{
    font-size: 16px;
    /* margin-right: 7px; */
    width: 130px;
}
.soundsSidebarCard{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
cursor: pointer;
}
.soundsSidebarCardImg{
    width: 50px;
    height: 50px;
    flex-shrink: 0;

}   
.soundsSidebarCardImg > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
    object-position: top;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}
.soundsSidebarCardDesc{
    font-size: 14px;
    color: #767676;
    font-family: Tajawal;
    font-weight: 500;
    line-height: 21.6px;
    letter-spacing: -0.025em;



}
.showWordsContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #fff;
    padding: 20px 20px;
    display: none;
}
.showWordsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.showWordsHeaderTitle{
    font-size: 19px;
    position: relative;
    padding-right: 20px;
}
.showWordsHeaderTitle::before{
    content: "";
    position: absolute;
    width: 3px;
    height: 60%;
    background-color: #FCC345;
    top: 5px;
    right: 0;
}
.showWordsHeader > li{
    list-style: none;

}
.closeWords{
    font-size: 22px;
    color: #1A1A1A;
    opacity: 0.8;
    font-weight: normal;
    cursor: pointer;
}
.showWordsContent{
    width: 70%;
    font-family: Tajawal;
    font-size: 19px;
    font-weight: 400;
    line-height: 28.8px;
}
.showWordsContent > p{
    margin-bottom: 15px;
}
.showWordsBtn{
    background-color: gray;
    color: #fff;
    padding: 10px;
    direction: rtl;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 80%;
    left:20px ;
    z-index: 10;

}