.soundsHeaderTitle {
    font-family: Tajawal;
    font-size: 15px;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: -0.01em;
    text-align: right;
    margin-top: 40px;
    margin-bottom: 15px;
    padding-left: 5px;
}

.soundsHeaderTitle2 {
    font-family: Tajawal;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -0.01em;



    text-align: right;
    margin-top: 40px;
    margin-bottom: 15px;
    padding-right: 20px;
    position: relative;

    margin-bottom: 30px;
    &::before{
        content: '';
        height: 40px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        width: 5px;
        background: #FCC345;
    }
}