
.soundsFavContainer{
    margin-right: 124px;
    width: 60%;
    margin-left: 20px;
    margin-bottom: 45px;

}
.favSoundsItems{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    direction: rtl;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
}
.favSoundsCard{
    text-align: center;
    background-color: #fff;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    box-shadow: 0px 4px 8px 0px #0000001F;
    padding: 20px 5px 10px 5px;
    position: relative;

}
.favSoundsCardImg{
    width: 84px;
    height: 90px;
    margin: auto;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
   
}   
.favSoundsCardImg > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;}

.favSoundImgOverlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}
.favSoundImgOverlayContent{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.playSoundIcon{
    font-size: 28px;
}
.favSoundsCardImg:hover .favSoundImgOverlay{
    opacity: 1;
}
.favSoundsCardDesc{
    color: #BEBEBE;
    font-size: 12px;
}
.favSoundTitle{
    font-weight: 500;
    font-size: 15px;
}
.favSoundsCardDesc{
    margin-bottom: 15px;
}
.favSoundsCardHeart {
    list-style: none;
    text-align: left;
    margin-left: 4px;
    width: 18px;
    margin-right: auto;

}

.favSoundsCardHeart > img{
    width: 100%;
    cursor: pointer;
}


.soundSetting{
    position: absolute;
    left: 20px;
    top: 10px;
}
.soundSetting > li{
    list-style: none;
    position: relative;
}
.settingIcon{
    cursor: pointer;
    color: gray;
}
.settingDropdown{
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #fff;
    padding: 15px 10px 5px 10px;
    list-style: none;
    font-size: 13px;
    display: none;
}
.settingDropdown > li{
    cursor: pointer;
}
.settingDropdown > li:first-child{
    margin-bottom: 7px;
}
.soundsFavContainer > .articleFilter{
    margin-right: -84px !important ;
}