.questionsBG{
    background-image: url('../../../../../public/assets/media/writings/questions/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 210px;
    position: relative;
    overflow: hidden;
    margin-bottom: 35px;
}
.questionsBG > div{
    position: absolute;

}
.questionsBG > .q1{
    width:40%;

}

.questionsBG > .q2{
    width: 25%;
    left: 248px;
    top: -10px
}
.questionsBG > .q3{
    width: 25%;
    left: 604px;
}
.questionsBG > .q4{
    width: 25%;
    left: 973px;
}
.questionsBG > .q5{
    width: 40%;
    right: 0;
}

.questionsBG > div > img{
    width: 100%;
    height: 100%;
}

.questionsBGTitle{
    position: absolute;
    top: 62%;
    left: 45%;
    color: #810400;
    font-family: Tajawal;
    font-size: 35px;
    font-weight: 900;
    line-height: 48px;
    

}