.questionContainer > .mediaHeader > .Container > .headerContent .media_more_btn{
    display: none;
}
.questionContainer > .mediaHeader > .Container > .headerContent {
    direction: rtl;
}
.questionContainer{
    direction: rtl;
}
.questionCardContent{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.questionCard{
    position: relative;
    background-color: #fff;
    padding: 49px  20px 35px 40px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    cursor: pointer;
    margin-bottom: 30px;
}
.questionCardContentRight{
    display: flex;
    align-items: center;
}
.playIcon{

}
.questionCardQues{
    font-size: 25px;
    font-weight: bold;
}
.PlusIcon{
    border: 3px solid #000;
    padding: 2px;
    font-size: 21px;
    font-weight: bold;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.questionCardDropdown{
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
}
.questionCardDropdown::-webkit-scrollbar {
    width: 0; /* Removes the scrollbar width */
    height: 0; /* Removes the horizontal scrollbar height */
}
.questionCardDropdown > p{
    font-family: 'Tajawal';
    font-size: 27px;
    font-weight: 400;
    line-height: 38.4px;
    width: 84%;
    padding: 30px 53px 30px 0;
    height: 150px;
    overflow-y: hidden;
    direction: rtl;
    margin-top: 12px;
}
.questionCardDropdown > p.scrolled{
    direction: rtl !important;
    text-align: right;

}
.questionCardDropdown > audio{
    opacity: 0;
    visibility: hidden;

}
.questionLoveContainer{
    margin-bottom: 80px;
}
.questionCardContentRight > img{
    width: 40px;
    margin-left: 10px;
}