@media only screen and (max-width: 1250px) and (min-width: 662px)  {
    .forgetForm {
        width: 65% !important;
    }

}
@media only screen and (max-width: 661px) and (min-width: 0)  {
    .backIcon{
        display: flex !important;
    }
    .forgetForm {
        width: 85% !important;
    }
    .forgetPassContent{
        margin-top: 0 !important;
    }
    .forgetPassContentImg{
        width: 30px !important;
      margin: auto;
      margin-bottom: 20px;
    }
    .forgetPassContentDesc{
        font-family: Tajawal;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.01em;
    text-align: center;
    color: rgba(49, 57, 87, 1);
    width: 90% !important;
    margin: auto !important;
    
    }
  
        
}