.onePoemContainer {
    direction: rtl;
}
.onePoemContainer > .mediaHeader > .Container > .headerContent .media_more_btn{
    display: none;
}
.onePoemContainer > .mediaHeader{
    margin-top: 90px;
    margin-bottom: 30px;
    direction: rtl;
    background-color: red;
}
.poem-column{
    text-align: right;
    line-height: 1;
}
.onePoemContainer .mediaHeader  .headerContent {
    direction: ltr;
}
.onPoemItems{
    display: flex;
    justify-content: space-between;
}
.onPoemContentImg{
    width: 642px;
    height: 470px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.onPoemContentImg > img{
    width: 100%;
    height: 100%;
}
.onPoemContentDesc{
    font-family: Tajawal;
    font-size: 24px;
    font-weight: 400;
    line-height: 39.6px;
    width: 55%;
    margin-bottom: 56px;

}

.onPoemVideo {
    text-align: center;
    margin-top: 62px;
    width: 65%;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    margin:62px auto 20px auto;
}

.onPoemVideo > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.onPoemContentImg{
    width: 35%;
    height: 400px;
    
}
.onPoemContentImg > img{
    width: 100%;
    height: 100%;

}
.onPoemContent{
    width: 40%;
    font-family: Tajawal;
font-weight: 400;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.onPoemContent > p > p{
    font-size: 16px;
}
.onPoemContent > p > h3{
    position: relative;
    font-size: 25px !important;
    font-weight: normal;
    font-family: "Tajawal";
    font-size: 18px;
    font-weight: 500;
    width: 80%;
    padding-right: 20px;

}
.onPoemContentImg img{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.onPoemContent  {
    font-family: Tajawal;
    font-size: 22px;
    font-weight: 400;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
.poem-flex-container{
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: flex-end;
    gap: 50px;
}