html{
    font-size: 16px;
}
.PoemsItems{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    text-align: right;
    direction: rtl;
    margin-bottom: 80px;
}
.poemsCard{
    position: relative;
    background-color: #fff;
    padding: 18px 30px 0px 10px;
    box-shadow: 0px 4px 8px 0px #0000001F;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
    padding-bottom: 8px;
}
.download-btn-poem{
    position: absolute;
    top: 12px;
    left: 12px;
    background: linear-gradient(90deg, #FFF3D8 0%, #F8F3ED 50%, #FFF3D8 100%);
    color: #000;
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
}
.poemsCard  > a:first-child{
    height: 140px;
    display: block;
}
.poemsCardTitle{
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
}
.poemsCardDesc{
    font-size: 1.25rem;
    font-family: Cairo;
    font-weight: 400;
    color: #767676;
    text-align: right;
    margin-bottom: 10px;
    width: 87%;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}
@media (max-width: 1500px) {
    .poemsCardTitle{
        font-size: 1.1rem;
        margin-bottom: 1.25rem;
    }
    .poemsCardDesc {
        font-size: 1rem; /* Smaller size for narrow screens */
        margin-bottom: 8px;
    }
}
.virtuesBooksItemBtn{
    text-align: left;
    float: left;
    margin-left: 20px;
    font-weight: 400;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 5px;
}
.virtuesBooksItemBtn > .moreIcon{
    font-size: 10px;
}
.PoemsContainer > .mediaHeader > .Container > .headerContent .media_more_btn{
    display: none;
}
.PoemsContainer > .mediaHeader{
    margin-top: 90px;
    
}
.PoemsContainer > .mediaHeader > .Container > .headerContent {
    direction: rtl;
}
.virtuesBooksItemBtn{
    color: #810400;

}
.virtuesBooksItemBtn .moreIcon{
margin-right: 5px;
}
.PoemsContainer .media_more_btn{
    display: none;
}
.PoemsContainer  .mediaHeader{
    direction: rtl;
}
