@media (max-width: 662px) {
  .searchMoreContainer .categoryBooksData .books-section-one-books-info{
    margin-right: 80% !important;
  }
  .searchMoreContainer .categoryBooksData .books-section-one-books-info .books-section-one-info img{
    width: 100px !important;
    height: 100px !important;
  }
}