.books {
  width: 100%;
  display: flex;
  background: rgb(248, 243, 237);
}

.books-wrapper {
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.books-head-cont {
  display: flex;
  width: 100%;
  position: relative;
}

.p-inputtext:enabled:hover, .p-inputtext:enabled:focus {
  border-color: #ced4da;
}

.books-head-imgpapa {
  width: 380px;
  height: 320px;
  -o-object-fit: contain;
     object-fit: contain;
  align-self: end;
  z-index: 10;
  margin-bottom: 30px;
  margin-left: 50px;
}

.pi {
  font-size: 1.5rem;
}

.books-head-imgsig {
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 100px;
  mix-blend-mode: darken;
  align-self: center;
  position: absolute;
  top: -53px;
  left: 350px;
}

.books-head-imgplant {
  width: 172px;
  height: 181px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  left: -160px;
  bottom: 10px;
}

.books-head-imgmain {
  width: 338px;
  height: 352px;
  -o-object-fit: contain;
     object-fit: contain;
}

.book-head-imgmain-rel {
  position: relative;
  margin-left: 170px;
  margin-top: 70px;
  z-index: 10;
}

.books-head-stand {
  width: 100%;
  position: absolute;
  bottom: -70px;
  left: 0;
}

.books-head-stand2 {
  width: 100%;
  position: absolute;
  bottom: -80px;
  left: 20px;
}

.books-head-ps p {
  color: #1A1A1A;
  font-family: Kufam;
  font-size: 35px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}

.books-head-p-input {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  align-self: flex-end;
  margin-bottom: 65px;
  margin-left: 20px;
  width: 400px;
}
.books-head-p-input .p-icon-field {
  width: 100%;
}
.books-head-p-input .p-inputtext {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922) inset;
  width: 100%;
  padding: 2rem 4.5rem;
  border-radius: 45px;
  text-align: right;
}
.books-head-p-input .p-inputtext::-moz-placeholder {
  color: #4A1F00;
  font-size: 16px;
  font-weight: 300;
}
.books-head-p-input .p-inputtext::placeholder {
  color: #4A1F00;
  font-size: 16px;
  font-weight: 300;
}
.books-head-p-input .p-icon-field-right > .p-input-icon:last-of-type {
  right: 1.5rem;
  color: #4A1F00;
}

.books-section-one-books-1-res {
  display: none;
}

.books-section-one {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 100px;
}

.books-heade-cont-abs {
  display: none;
}

.books-about {
  margin-top: 100px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #1A1A1A;
  text-align: right;
  border-right: 6px solid rgb(252, 195, 69);
  padding-right: 20px;
  margin-right: 65px;
}

.books-section-one-books {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
  gap: 0;
  position: relative;
  width: 100%;
}

.books-section-one-books-1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 30px;
  gap: 100px;
  position: relative;
}

.books-section-one-books2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 130px;
  gap: 0;
  position: relative;
}

.books-book {
  width: 305px;
  height: 265px;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 10;
}

.books-section-one-books-info {
  display: flex;
  gap: 10px;
}

.books-section-one-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.books-section-one-save2 {
  color: #767676;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  width: 160px;
  height: 30px;
  margin-bottom: 45px;
}

.books-section-one-download {
  border: 1px solid #57422E;
  color: #57422E;
  font-size: 14px;
  font-weight: 400;
  padding: 0.25rem 1.5rem;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  margin: 4px;
}

.books-section-one-stars {
  display: flex;
  align-items: center;
  gap: 5px;
}
.books-section-one-stars img {
  width: 14px;
  height: 14px;
  -o-object-fit: contain;
     object-fit: contain;
}

.books-section-one-save {
  font-size: 16px;
  line-height: 25px;
  text-align: right;
  color: #1A1A1A;
  height: 64px;
}

.iframeBook {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
}

.reader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.reader-container .react-reader,
.react-reader {
  width: 80vw;
  height: 80vh;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.reader-container .BookTitlePage-rw {
  width: 600px;
}
.reader-container .BookTitlePage-rw img {
  width: 100%;
}

@media screen and (max-width: 1500px) {
  .books-section-one-books-info > img {
    width: 60%;
  }
  .books-head-stand2 {
    width: 100%;
    position: absolute;
    bottom: -40px;
    left: 20px;
  }
}
html {
  scroll-behavior: auto; /* Default: no smooth scrolling */
}

.display_book_iframe_block {
  width: 100%;
  height: 100%;
  height: 101.5vh;
  padding-top: 0;
}

.display_book_iframe {
  border: none;
  width: 100%;
  height: 100%;
  height: 101.5vh;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.book-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.books-section-one-download-two {
  padding: 0.25rem 1.7rem;
}

.books .books-section-one {
  padding-bottom: 0;
}/*# sourceMappingURL=Books.css.map */