@media only screen and (max-width: 1150px) and (min-width: 662px) {
    .userProfileLinksItem > p{
        font-weight: 500;
        width: 10px !important;
    }
    .profileAccountFormInput  > input{
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        padding: 10px 20px;
        border: 1px solid #D4D7E3;
        background-color: #F3F9FA;
        width: 100% !important;
        outline: none;
    
    }
    .profileSider{
        padding-top: 50px;
        background:#F9F9F9;
        ;
        padding-right: 20px;
    
        height: 90vh !important;
    }
}
@media only screen and (max-width: 662px) and (min-width: 0) {
    .profileSider {
        padding-right: 0 !important;
    }
    
}










@media only screen and (max-width: 662px) and (min-width: 0){
    .profileSider{
        background-color: #fff !important;
    }
    .profilePage{
        margin-top: 0 !important;
    }
    .profilePageItems{
        display: flex !important;
        flex-direction: column !important;
        direction: rtl !important;
        gap:20px !important;
        width: 87% !important;
        margin: auto !important;
    }
    /* .profilePageItems{
        display: none !important;
    }
    */
    .userProfileLinks{
        display: none !important;

    } 
    .userProfileLinksRes{
        display: grid !important;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-content: space-between;
    }
    .profileSider{
        padding-top: 40px !important;
        background:#F9F9F9;
        ;
        padding-right: 20px;
    
        height: auto !important;
        width: 100% !important;
    }

    .userProfileLinksItem:last-child{

        margin-top: 0 !important;
    
    }

    .userProfileLinksItem > p{
        width: 100% !important;
    }
    .userProfileLinksItem{
        padding: 10px 8px 10px 20px !important;
        margin-left: 0 !important;
        margin-bottom: 10px !important;


    }
    .profileAccountContainer{
        padding-top: 0 !important;
        margin-bottom: 40px !important;
    }

    .profileAccountImg{
        width: 120px !important;
        height: 110px !important;
        margin-left: 3px !important;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color:gray;      
        border: 4px solid #FFF4DA
    }
    .profileAccountFormUpItems{
        display: flex;
        flex-direction: column;
        gap:10px !important;
    }
    .profileAccountFormUpItem{
        width: 220px !important;
        border-radius: 7px !important;
        -webkit-border-radius: 7px !important;
        -moz-border-radius: 7px !important;
        -ms-border-radius: 7px !important;
        -o-border-radius: 7px !important;
}
.profileAccountFormInputs{
    display: block !important;

}
.profileAccountFormInput{
    margin-bottom: 10px !important;
}
.profileAccountFormInput  > input{
    width: 100% !important;


}
.profileAccountFormInputs{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
    margin-bottom: 30px !important;

}
.profileCancelBtn{
    border: 1px solid rgba(212, 215, 227, 1) !important;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12);


}

}