.events{
    margin: auto;
    padding-bottom: 50px;
}
.eventsItems{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    align-items: center;
    text-align: right;
    direction: rtl;
    margin-bottom: 40px;

    


}
.eventsItem{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    height:230px ;
    direction: ltr;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12);
    width: 100%;

}
.eventsItemImg{
    width:300px;
    height: 230px;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;

}
.eventsItemImg >img{
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}
.eventContent{
    background-color: #fff;
    padding: 30px 20px 0 20px;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
    width: 75%;
    direction: rtl;

}
.eventContentDate{
    list-style: none;
    color: #767676;
    margin-bottom: 7px;
    

}
.eventContentDate > .clock{
position: relative;
top: 3px;
margin-left: 5px;
}
.eventContentTitle{
    color: rgba(118, 118, 118, 1);
    margin-bottom: 7px;
    font-size: 16px;
    font-family: Cairo;
    font-weight: 700;
    line-height: 27px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    }
.eventContentDesc{
    font-family: Cairo;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
        width: 100%;
    color: rgba(118, 118, 118, 1);
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; 
    line-height: 1.5;
    max-height: calc(1.5em * 2); 
    margin-bottom: 30px;
    

}
.eventReadMore{
    background: #810400;
    color:white;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 40px;
}

.eventReadMore > .evenIcon{
    margin-right:10px ;
    font-size: 10px;
}

/* responsive */
.eventsItemsRes  .eventsItem{
    height:100% ;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 10px 10px 10px 10px !important;
    -webkit-border-radius: 10px 10px 10px 10px !important;
    -moz-border-radius: 10px 10px 10px 10px !important;
    -ms-border-radius: 10px 10px 10px 10px !important;
    -o-border-radius: 10px 10px 10px 10px !important;
    background-color: transparent !important;
}
.eventsItemsRes  .eventsItemImg{
    height: 180px !important;
    width: 100% !important;
    border-radius: 10px 10px 0 0 !important;
    -webkit-border-radius: 10px 10px 0 0 !important;
    -moz-border-radius: 10px 10px 0 0 !important;
    -ms-border-radius: 10px 10px 0 0 !important;
    -o-border-radius: 10px 10px 0 0 !important;
    background-color: transparent !important;

}
.eventsItemsRes  .eventsItemImg >img{
    border-radius: 10px 10px 0 0 !important;
    -webkit-border-radius: 10px 10px 0 0 !important;
    -moz-border-radius: 10px 10px 0 0 !important;
    -ms-border-radius: 10px 10px 0 0 !important;
    -o-border-radius: 10px 10px 0 0 !important;
    object-fit: cover !important;
    object-position: top;
}
.eventsItemsRes .eventContent{
    width: 100%;
    background-color: #fff;
    border-radius: 0 0 10px 10px !important;
    -webkit-border-radius: 0 0 10px 10px !important;
    -moz-border-radius: 0 0 10px 10px !important;
    -ms-border-radius: 0 0 10px 10px !important;
    -o-border-radius: 0 0 10px 10px !important;
    padding: 10px 20px 0 20px !important;
    padding-bottom: 30px !important;

}
.eventsItemsRes .eventContentDate{
    list-style: none;
    color: #767676;
    margin-bottom: 7px;
    font-size: 14px;

}
.eventsItemsRes .eventContentDesc{
    font-size: 16px;
    margin-bottom: 20px !important;
}
.eventsItemsRes  .swiper-pagination-bullet{
    background: rgba(118, 118, 118, 1);

}
.eventsItemsRes .swiper-pagination{
    position: initial !important;
    margin-top: 10px;
    margin-bottom: 20px;
}
.eventsItemsRes .swiper-pagination-bullet-active {
    background: rgba(252, 195, 69, 1) !important;
    width: 50px !important;
    border-radius: 15px !important;
}
.eventsItem a{
    cursor: pointer;
}