.meditations{
    margin-bottom: 90px;
    /* background: linear-gradient(180deg, #FFEDC5 70%, #F8F3ED 0%, rgba(255, 237, 197, 0) 100%); */
    background: linear-gradient(180deg, #FFEDC5 0%, #fff 52.5%, rgba(255, 237, 197, 0) 100%);

}

.meditations_items{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    /* margin-bottom: 160px; */
}
.meditations_items > a  > iframe{
    width: 100%;
    height: 400px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    z-index: 2;
position: relative;
   
}

.meditations_items_res  iframe{
    width: 100%;
    height: 200px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    z-index: 2;
position: relative;
margin: auto;


   
}
.meditations video{
    max-width: 100% ;
}