.visitBG{
    background-image: url('../../../public/assets/visit/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    position: relative;
    border: 1px solid #ddd;

}
.visitBGItems{
    display: flex;
    position: absolute;
    top: 0;
    right:0;
    gap: 0;
    position: relative;

}

.visitBGSubtract{
width: 70%;
height: 200px;
position: relative;
}
.visitBGSubtractContent{
    position: absolute;
    top: 15%;
    right: 10px;
 
}
.visitBGSubtractContentDesc{
    width: 85%;
    line-height: 1.6;
    font-family: Tajawal;
    font-size: 30px;
    font-weight: 500;
    line-height: 61px;
    padding-right: 1px;
    display: block;
    float: right;
    text-align: center;
    direction: rtl;
    text-indent: 30px;
    padding-right: 25px;


}
.visitBGSubtractContentDesc::before{
    position: absolute;
    content: "";
    background-color: #FCC345;
    width: 6px;
    height: 30%;
    top: 12px;
    right:2.4%;
    
}
.visitBGDiamons{
    position: absolute;
    width: 30%;
    height: 465px;
    top: 7px;
    left: 5%;
}
.visitBGSubtract{
    margin-left: auto;
    margin-top: 6.5%;
    height:250px ;
   
}
.visitBGSubtract > img,.visitBGDiamons > img{
    width: 100%;
    height: 100%;
}
.visitBGSubtractContentBtn{
    position: absolute;
    top: 145px;
    left: 143px;
    background: #fff;
    color: #000;
    padding: 8px 40px;
    border: none;
    letter-spacing: 1px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
    box-shadow: 0px 1px 1px 0px #00000040;
    font-weight: bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.visitBGSubtractContentBtn:hover{
    background: #810400;
    color: #fff;
}
/* responsive */
.sitBGSubtractRes{
    position: relative;
    margin-bottom: 20px;

}
.visitBGSubtractRes .visitBGSubtractContent{
    position: absolute;
    text-align: right;
    padding-top: 20px;
    padding-right: 0;
    direction: rtl;
    text-align: center;


}
.visitBGSubtractContentDescRes{
    font-size: 14px;
    line-height: 1.5;
    text-align: right;
    width: 110%;
    position: relative;
    padding-right: 10px;
    
}
.visitBGSubtractContentDescRes::before{
    position: absolute;
    content: "";
    background-color: #FCC345;
    width: 5px;
    height: 50%;
    top: 6px;
    right:0;
    
}
.visitBGDiamonsRes{
    margin: 3% auto;
}
.visitBGSubtractContentBtnRes{
    background: #fff;
    color: #000;
    padding: 7px 45px;
    border: none;
    letter-spacing: 1px;
    border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    margin-top: 20px;
    -webkit-border-radius:10px;
    margin-left: 0;
    font-weight: bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.visitBGSubtractContentBtnRes:hover{
    background: #810400;
    color: #fff;
}
.visitBGSubtractRes{
    width: 100%;
    height: 190px;
}
.visitBGSubtractRes > img{
    width: 100%;
    height: 100%;
}
/*updated */
.visitBGRightImg{
    background-image: url('../../../public/assets/visit/right_img.png');
    background-repeat: no-repeat;
    height: 400px;
    width: 85%;
    position: relative;
    background-size: cover;
    background-position: center;

}
.visitBGRightImg > img{
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.visitBGleftImg{
    width: 120%;
}
.visitBGleftImg > img{
    width: 100%;
}
.visitBGDesc{
    font-family: Tajawal;
    font-weight: 500;
    font-size: 33px;
    line-height: 51px;
    text-align: right;
    vertical-align: middle;
    color: #fff;
    margin-top: 5%;
    margin-right: 2%;
    position: relative;
    padding-right: 10px;

}
.visitBGDesc::before{
    position: absolute;
    content: "";
    background-color: #FCC345;
    width: 6px;
    height: 30px;
    top:14px;
    right:0;
    
}
.visitBGRightImgRes{
    background-image: url('../../../public/assets/visit/up_img.png');
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    margin: auto;
    position: relative;
    background-size: cover;
    background-position: center;
    text-align: center;

}
.visitBGRightImgRes > img{
    width: 50% !important;
    margin: auto;
}
.visitBGleftImgRes > img{
    width: 95% !important;
}