$width: 662px;
$width2: 1050px;

@media(max-width: #{$width}) {
    .header{
        position: initial !important;
    }
    .header-bottom-wrapper{}
    .header-bottom {
        height: 60px !important;
        max-width: 100%;
        background: #001857;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    } 
    .books-section-one{
        padding-bottom: 0 !important;
    }
    .header-ps{
        display: none !important;
      }
      .header-ps-res{
        display: block !important;
        margin-right: 0;
    
      }
      .header-ps-res .header-p{
        margin-top: 34px;
      }
      .header-overlay-content .p-accordion .p-accordion-content {
        padding: 0;
        background: #fff !important;
      }
    .userProfile {
        position: relative;
        margin-right: 20px;
    }
    .header-top-right-img2 {
        bottom: 0;
        height: 104px;
        left: 13px;
        width: 130px;
    }

    .header-ps {
        margin-right: 0;
    }

    .header-p {
        font-size: 14px;
    }

    .header-overlay-close {
        position: absolute;
        top: 30px;
        left: 25px;
    }

    .header-top-left-img {
        width: 108px;
        height: 108px;
        margin-top: 20px;
    }
    .header-top-wrapper > img{
        width: 27%;
    }

    .header-bottom-left,
    .header-bottom-right {
        display: none;
    }

    .headerRes-right {
        gap: 50px;
        display: flex;
        align-items: center;
    }
    .happen .happen-swiper-relative .swiper-slide{
        width: 100%;
        margin-right: 0;
    } 
    .userProfileDropdown {
        position: absolute;
        top: 75px;
        left: -23px;
        width: 274px;
        background-color: #fff;
        padding-top: 30px;
        padding-bottom: 20px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        z-index: 1000;
    }
    .userProfileDropdown {
    position: absolute;
    top: 75px;
    left: 10px;
    width: 300px;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: none;
    z-index: 1000;
}
    .userProfileDropdown::before{
        left: 19px;
        top: -24px;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 13px solid transparent;
        border-bottom: 13px solid #fff;
    }

    .headerRes-left {
        display: flex;
    }

    .header-bottom-wrapper {
        padding: 0 .5rem;
    }

    .header-bottom-ham-img {
        width: 15px;
        height: 15px;
        object-fit: contain;
    }

    .header-overlay-sections-blue {
        background: #06112F;

        p {
            color: white !important;
        }
    }

    .header-overlay {

        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #fff;
        overflow-y: auto;

        z-index: 10000;


    }
    .header-top{
        z-index: 100 !important;
    }

    .header-overlay-sections {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1rem .3rem;
        margin-top: 10px;
        border-radius: 5px;

        p {
            font-size: 14px;
            font-weight: 700;
            color: #1A1A1A;
            text-align: end;
        }
    }

    .header-overlay-signup {
        display: flex;
        justify-content: space-between;
        width: 94%;
        padding: 1rem .5rem;
        background: #810400;
        border-radius: 5px;

        img {
            width: 23px;
            height: 23px;
            object-fit: contain;
        }

        p {
            font-size: 14px;
            font-weight: 700;
            color: #FFF3D8;
            text-align: end;
        }
    }

    .header-overlay-content {
        padding: 4rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;

        .p-accordion {
            width: 100%;
            margin-top: 10px;
        }

        .p-accordion-tab {
            width: 100%;
        }

        .pi {
            font-size: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000 ;

        }

        .p-accordion .p-accordion-tab .p-accordion-header .p-accordion-header-link:hover {
            background-color: #fff ;
        }
       .accordion-right  a{
            color: #000 !important  ;
        } 
     
        .accordion-right  .p-highlight a{
        color: #fff !important;
        }
        a.header-non-acc-p2{
            color:#810400 !important
        }
   

        .header-overlay-content .pi{
            color: #000 ;
        }
        .header-acc-align{
            color: #000 ;

        }
        .p-accordion-tab-active {
            background-color: #06112F !important;

        }
        .p-accordion-tab-active >.p-highlight > {
            a{
            background-color: #06112F !important;

           }
           a >  .p-accordion-header-text > .header-acc-align{
                color: #fff !important;
            }
            a >  .p-accordion-header-text > i{
                color: #fff !important;
            }
        }
        
        .header-acc-align {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .header-acc-res-img {
            width: 24px;
            height: 24px;
            object-fit: contain;
        }

        .p-accordion .p-accordion-content {
            padding: 0;
            background:transparent;
        }
      
        .header-non-acc-p2{
            padding: 0 0.5rem;
            font-size:15px;
        }
    }
    .header-bottom-right-dropInfo-topic-headunderline{
        padding: 0 1rem;
        padding-top: 1rem;
    }
    .header-overlay-p {
        font-size: 14px;
        font-weight: 700;
        padding: 1rem .5rem;
        color: #1A1A1A;
        text-align: end;
        width: 100%;
    }


    .header-bottom-right-big-cont {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;
        padding: 0 10px;
    }

    .header-bottom-right-link {
        width: 48%;

        &:last-child {
            width: 100%;
        }
    }

    .header-bottom-right-dropInfo2-imgInfo {
        height: 105px;
    }

    .header-bottom-right-dropInfo2-topicsInfo {
        height: auto;
    }

    .header-bottom-right-dropInfo2-topics {
        width: 60%;
        font-size: 14px;
        font-weight: 700;
    }

    .header-bottom-right-dropInfo2-lines-topics {
        padding: 0 10px;
        margin-top: 20px;
    }

    .happen-search {
        background: #810400;
        padding: 7px !important;
        border-radius: 10px;
    }
}
@media(min-width:1100px) and (max-width:1500px){

    .header-bottom-right-dropInfo {
        width: 95% ;
    }
 
}


@media(min-width:#{$width}) and (max-width:#{$width2}){
       

    .header-bottom-enter{
        padding:.5rem 1rem;
        font-size:12px;
    }
    .header-bottom-left-p{
        font-size:12px;
    }
    .header-bottom-right{
        gap: 15px;height:40px;
    }
    .header-bottom-wrapper{
        flex-direction: column-reverse;
        gap: 0px;
        // flex-direction: row;
        padding:4px 0 8px 0;
    }
    .header-ps{
        margin-right: 0;
    }
    .header-top-right-img2{
        left:50px;
    }
    // .header-bottom{
    //     height: 120px;
    // }
    #header-bottom-right-inputs{
        padding: .3rem;
        padding-right: 40px;
    }
    // .header-swiper-relative .swiper-slide {
    //     width: auto !important;
    // }
    .header-bottom-right-dropInfo2-topics{
        width: 25%;
    }
    .header-bottom-right-dropInfo2-imgInfo{
        height: 120px;
    }
    .header-bottom-right-dropInfo-right{
        padding-left: 0;
        width: 50%;
    }

    .header-line-one{
        margin: 0 12px;
    }
    .header-bottom-right-dropInfo{
        gap: 0;
        justify-content: space-between;
    }
    .header-bottom-right-dropInfo-left{
        width: 50%;
    }

    .header-bottom-right-dropInfo2-img-p {
        font-size: 11px;
        font-weight: 700;
        line-height: 16px;
        text-align: right;
    }
    .userProfileDropdown {
        position: absolute;
        top: 62px;
        left: -20px;
        width: 300px;
        background-color: #fff;
        padding-top: 30px;
        padding-bottom: 20px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        display: none;
        z-index: 1000;
    }
    .userProfileDropdown::before {
        content: "";
        position: absolute;
        top: -32px;
        left: 12px !important;
        border-left: 17px solid transparent;
        border-right: 17px solid transparent;
        border-top: 17px solid transparent;
        border-bottom: 17px solid #fff;
    }

    .header-bottom-right-dropInfo2::before,
    .header-bottom-right-dropInfo::before,
    .userProfileDropdown::before{
        display: none ;
    }
}

@media(min-width:911px) and (max-width:1370px){
    .header-bottom-right-dropInfo-right {
        padding-left: 0;
        width: 45%;
    }
 
}
@media(min-width:690px) and (max-width:830px){
    .header-bottom-right-dropInfo-right {
        padding-left: 0;
        width: 51%;
    }

    .header-bottom-right-dropInfo-left {
        width: 42%;
    }
    .p-accordion-tab {
        width: 260px;
    }
 
}