.gallery {
    width: 100%;
    display: flex;
    // margin-top: 215px;
    background: #F8F3ED;
    min-height: 800px ;


}
.gallery-img-responsive{
    display: none;
}
.gallery-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;

    padding-bottom: 50px;
    position: relative;

}

.gallery-top-p {
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    z-index: 10;
    color: #810400;
    background: linear-gradient(90deg, rgba(255, 248, 230, 0) 0%, #FFF3D8 50%, rgba(255, 236, 193, 0) 100%);
    width: 50%;
    padding:5px 0;
}

.gallery-top-head {
    position: relative;
    flex-direction: column;
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.gallery-top-left{
    position: absolute;
    top: 0;
    right: 0;
}
.gallery-top-right{
    position: absolute;
    top: 0;
    left: 0;
}
.gallery-imgs-cont{
    direction: rtl;
}
.gallery-top-img {
    width: 140px;
    height: 150px;
    object-fit: contain;
    z-index: 10;
}

.gallery-imgs-cont {
    display: flex;
    
    padding: 2rem 0;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    gap: 10% !important;
    // display: flex;
    
}
.gallery .swiper-wrapper{
    gap: 3% !important;
}
.gallery-img {
    width: 100%;
    height: 620px;
    border-radius: 10px;

    transition: all .5s ease-out;

    object-fit: cover;

}
.gallery-swiper-relative {
    width: 100%;
    position: relative;
    margin-top: 50px;
}
.gallery-swiper-relative .swiper-slide{
    width: 31% !important;
}
.gallery-swiper-relative .swiper-wrapper{
//    direction: rtl;
}
.gallery-img-cont {
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 620px;    box-shadow: 0px 4px 12px 3px #00000040;

    overflow: hidden;
    border-radius: 10px;
    position: relative;
    flex-shrink: 0;
    &:hover {
        .gallery-img {
            transform: scale(1.2);
            filter: brightness(0.5);
        }

        .gallery-img-p {
            opacity:  1;
        }
    }
}

.gallery-img-p {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #F8F3ED;
    font-family: Cairo;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    z-index: 10;
    transition: all .5s ease-out;
    opacity: 0;
}
html {
    scroll-behavior: auto; /* Default: no smooth scrolling */
}


