.searchPage{
    background: #F8F3ED;
    color: black;
    /* margin-top: 196px; */
    min-height:105vh;
    padding-top: 30px;

}
html {
    scroll-behavior: auto; /* Default: no smooth scrolling */
  }
  .categoryResult > h2{
    padding-top: 0;
  }