.mediaHeader{
    margin-top: 120px;
    margin-bottom: 20px;

}
@media only screen and (max-width: 662px) and (min-width: 0){
    .mediaHeader{
        margin-top: 120px;
        margin-bottom: 20px;
        direction: ltr !important;
    
    }
}
.headerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .media_more_btn{
    all: unset;
    background-color: #fff;
    font-weight: bold;
    padding: 5px 25px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    transition: background-color 0.5s, color 0.4s;
    -webkit-transition: background-color 0.5s, color 0.4s;
    -moz-transition: background-color 0.5s, color 0.4s;
    -ms-transition: background-color 0.5s, color 0.4s;
    -o-transition: background-color 0.5s, color 0.4s;
    cursor: pointer;
}
.media_more_btn:hover{
    background-color: #810400;
    color: #fff;
}
.mediaHeaderTitle{
    font-size: 33px;
    position: relative;
    padding-right: 20px;
}
.mediaHeaderTitle::after{
    position: absolute;
    content: "";
    height: 70%;
    top: 9px;
    right: 0;
    border: 3px solid #FCC345;

}