footer {

    background: #001857;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    z-index: 99;
    max-width: 100%;


}

.footerContent {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerRight >div > a > span ,.footerBottom  > a > span{
    text-decoration: underline !important;
    display: inline-block;
}
.footerLeft {
    display: flex;
}

.footerLeft>ul {
    display: inline-block;
}

.footerLeft>ul>li {
    list-style: none;
    display: inline-block;
    color: #fff;
    cursor: pointer;
}

.footerLeftSocial {
    margin-right: 15px;
}

.footerLeftSocial>li:not(:last-child) {
    margin-right: 10px;
}

.footerLeftSocial>li>.socialIcon {
    font-size: 14px;
    color: #FFF3D8;

}

.footerLeftLinks {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 15px;
}

.footerLeftLinks>li {
    font-size: 16px;
    font-weight: bold;
}

.footerLeftLinks>li>img {
    width: 20px;
}

.footerLeftLinks>li {
    margin: 0 10px;
}

.footerLeftLinks>li>a {
    text-decoration: none;
    color: #fff;

}

.footerRight {
    display: flex;
    color: #FFF3D8;


}

.footerRight>div {
    position: relative;
    margin-right: 20px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Tajawal' , sans-serif !important;
    font-weight: 700;

}

.footerRight>div:not(:last-child):after {
    content: "";
    width: 2px;
    height: 100%;
    background-color:  rgba(255, 243, 216, 1);
    position: absolute;
    right: -10px;
    top: 0 !important;
}



.play-btns-line {
    height: 30px;
    width: 1px;
    background-color: #1A1A1A;


}

.play-play-cont {
    position: relative;
    width: 600px;
    border-left: 1px solid #767676;
    border-right: 1px solid #767676;
    height: 100%;
.rhap_progress-section{
    width: 73%;
    margin: 0 auto;
}
    .rhap_progress-container{
       width: 100%;
       flex:auto;
    }
    .rhap_progress-bar {
        background: #767676;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
    }

    .rhap_time {
        position: absolute;
        color: #767676 !important;
        font-size: 13px !important;
        transform: translateY(-50%);
    }

    .rhap_current-time {
        left: 72px;
        top: 40%;

    }

    .rhap_total-time {
        top: 40%;
        right: 72px;
    }

    .rhap_main {
        flex-direction: column-reverse;
    }

    .play-btn {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .rhap_button-clear {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1.5rem !important;
    }

    .rhap_progress-bar {
        height: 4px !important;
        background-color: #767676 !important;

    }

    .rhap_progress-indicator {
        width: 18px !important;
        height: 18px !important;
    }

    .rhap_progress-indicator {
        background: #FFFFFF !important;
        height: 4px !important;
        top: 0 !important;
        transition: width 0.1s linear;
        display: none;
    }

    .rhap_progress-filled {
        background: #1A1A1A !important;
        height: 4px !important;
        left: 0 !important;
    }

    .rhap_container {
        padding: 0;
        box-shadow: none;
    }
}

.play-info-img {
    width: 55px;
    height: 50px;
border-radius: 5px;
}

.play-info-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;

}

.play-complex-play {
    width: 100%;
    box-shadow: 0px -4px 6px 0px #00000029;
    height: 75px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    direction: ltr;
    z-index:999;
}
.play-next{
    position: absolute;
    right: 35%;
    top: 26%;    cursor: pointer;

}
.play-prev{
    position: absolute;
    left: 35%;
    top: 26%;
    cursor: pointer;
}
.play-complex-play-cont {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding:0 1rem;
    // gap:40px;

}

.play-info-flex3 {
    display: flex;
    align-items: center;
    gap: 27px;
}

.play-info-flex {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 10px;
}

.play-info-p-1 {
    color: #1A1A1A;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.01em;
    text-align: right;

}

.play-info-p-2 {
    color: #767676;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: -0.025em;
    text-align: right;

}

.play-info-flex2 {
    display: flex;
    align-items: center;

}

.play-btns-container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    cursor: pointer;
}

.custom-menu5 {
    position: absolute;
    background-color: #fff;
    border: 1px solid rgba(252, 195, 69, 1);
    padding: 10px;
    top: 70px;
    /* adjust based on placement */
    right: 0px;
    /* adjust based on placement */
    box-shadow: 0px -4px 6px 0px #00000029;
    height: 130px;
    // padding: 1.5rem 2.5rem 0 2.5rem;
    padding: .75rem 1rem .5rem 1rem;
    direction: rtl;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 99;
    &::before {

        content: "";
        position: absolute;
        top: -13px;
        left: 70%;
        transform: rotate(-90deg);
        width: 0;
        height: 0;
        border-left: 15px solid white;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        z-index:99;

    }
}
.custom-menu6 {
    position: absolute;
    background-color: #fff;
    border: 1px solid rgba(252, 195, 69, 1);
    padding: 10px;
    top: 60px;
    /* adjust based on placement */
    left: 8px;
    /* adjust based on placement */
    box-shadow: 0px -4px 6px 0px #00000029;
    height: 50px;
    // padding: 1.5rem 2.5rem 0 2.5rem;
    padding: .75rem 1rem;
    direction: rtl;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 99;
    &::before {

        content: "";
        position: absolute;
        top: -13px;
        left: 18%;
        transform: rotate(-90deg);
        width: 0;
        height: 0;
        border-left: 15px solid white;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        z-index:99;

    }
}
.custom-menu-div-5 {
    display: flex;
    align-items: center;
    gap: 10px;
    
    background: #810400;
    padding: .8rem;
    img {
        width: 12px;
        height: 12px;
        object-fit: contain;
    }

    p {
        font-size: 12px;
        font-weight: 500;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        cursor: pointer;
    }
}
.custom-menu-div {
    display: flex;
    align-items: center;
    gap: 10px;
   
    padding: 1rem;
    img {
        width: 12px;
        height: 12px;
        object-fit: contain;
    }

    p {
        font-size: 12px;
        font-weight: 500;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        cursor: pointer;
    }
}
.custom-menu-div2 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1rem;
    img {
        width: 12px;
        height: 12px;
        object-fit: contain;
    }

    p {
        font-size: 12px;
        font-weight: 500;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        cursor: pointer;
    }
}

.play-btns-cont {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 325px;
    align-items: center;


    // img {
    //     width: 18px;
    //     height: 18px;
    //     object-fit: contain;
    // }

    .p-dropdown .p-dropdown-label.p-placeholder {
        color: #1A1A1A;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: -0.01em;

    }

    .p-dropdown .p-dropdown-trigger {
        width: 0.5rem;
        margin-right: 0.5rem;
    }
}

.play-word-img {
    display: flex;
    align-items: center;
    gap: 10px;
}

.play-words {

    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.01em;

}

.play-info-love {
    width: 18px;
    height: 18px;
    object-fit: contain;
    cursor:pointer;
}

.play-loop {
    position: absolute;
    top: 40%;
    left: 140px;
    cursor: pointer;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
}


.control-button {
    background: none;
    border: none;
    color: #ccc;
    font-size: 20px;
    cursor: pointer;
    padding: 0 10px;
}

.control-button.active {
    color: #007bff;
    /* Active color */
}

.control-button:hover {
    color: #555;
    /* Hover color */
}

.volume-img {
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.play-btns-down-img {}

.play-btns-p {
    color: #1A1A1A;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.01em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.footer-video-archive {
    width: 20px;
    height: 25px;
    object-fit: contain;
    cursor: pointer;
}
.audio-control-button{
    position: absolute;
    top: 43%;
    right: 120px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.audio-control-button2{
    position: absolute;
    top: 43%;
    left: 120px;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

/* responsive*/
@media (max-width: 2560px) {
    .footerContent{
        width: 95%;
    }
 
  }
  @media only screen and (max-width: 1150px) and (min-width: 0){
    footer{
        padding-bottom: 10px !important;
    }
    .footerImg{
        width:100px;
        margin: auto;
    }
    .footerImg > img{
        width: 100%;
    }
    .footerContent{
        display: none !important;
    }
    .footerContentRes{
        display: block !important;
        text-align: center;
        color: #fff;
        font-family: Tajawal;
        font-size: 16px;
        font-weight: 500;
        line-height: 14px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }
  }
.footerImg{
    margin-bottom: 10px;
  }
.footerHead{
    margin-bottom: 15px;
  }
.footerLine{
 background-image: url('../../../public/assets/fl.png');
 background-repeat: no-repeat;
 background-position: center;
 width: 100%;
 height: 2px;
 margin-bottom: 40px;

}
.footerPages > p{
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    margin-bottom: 35px;
}
.footerSocial{
    list-style: none;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 50px;
 
}
.footerSocial > li{
    font-size: 19px;
    cursor: pointer;
    display: inline-block;
    margin: 0 8px ;
}
.footerBottom{
    margin-bottom: 15px;
}

.footerCompany{
    font-size: 18px;
    cursor: pointer;
    letter-spacing: 1px;
}


@media only screen and (max-width: 1100px) and (min-width: 689px){
    .play-play-cont {
        width: 2000px ;
    }
    
    .soundsPage .sharedCancel {
        top:66% !important;
    }
    .player-speed-wrap > button{
        min-width: 10px !important;
    }

    .play-info-flex{
        margin-right: 42px !important;

    }
    .play-complex-play-cont > a{
        right: 70px !important;
    }

}

@media only screen and (max-width: 900px) and (min-width: 690px){
    .play-complex-play-cont > a{
        right: 70px !important;
    }
}