/* Read more btn */
html {
  font-size: 16px; /* Default base font size */
}

.more_btn,.more_btn_res_event{
    border: none;
    text-align: center;
    background-color: white;
    color: black;
    font-weight: normal;
    display: inline-block;
    margin-left: 47%;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.4s;
    -webkit-transition: background-color 0.5s, color 0.4s;
    -moz-transition: background-color 0.5s, color 0.4s;
    -ms-transition: background-color 0.5s, color 0.4s;
    -o-transition: background-color 0.5s, color 0.4s;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-weight: bold;
    /* margin-bottom: 168px; */
}
.more_btn_res_event{
  text-align: center;
  display: block ;
  margin: auto;
}
.more_btn:hover{
  background-color: #810400;
  color: #fff;
}
.more_btn_res_event:hover{
  background-color: #810400;
  color: #fff;
}

/* breadcrumb */
ul.breadcrumb {
    padding: 12px 0;
    list-style: none;
    background-color: #fff;
   text-align: right;
    width: 100%;
  }
  ul.breadcrumb li:first-child{
    color: black;
    font-weight: bold;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 17px;
  }
  ul.breadcrumb li+li:before {
    padding: 4px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: gray;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: black;
  }


  .Container{
    width: 90.5%;
    margin: auto;
  }

/* paginate */
.paginate{
margin-left: 38%;
}
.noResult{
  text-align: center;
  font-weight: bold;
  color: #810400;
  font-size: 30px;
  width: 100%;
  margin-top: 55px;
  margin-bottom: 50px;
}
html {
  
}
.overlayLight{
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
  display: none;
}
.overlaySearch{
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

@media only screen and (max-width: 662px) and (min-width: 0) {
  html::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    display: none !important;
  }
}
.scrolled{
  scroll-behavior: smooth; 
  scrollbar-width:thin;
  scrollbar-color: beige transparent;
  direction: ltr; 
  

}
.scrolled::-webkit-scrollbar{
  width: 8px;
  height: 8px;

}
.scrolled::-webkit-scrollbar-thumb {
  background-color: green;       /* change to your green */
  border-radius: 10px;
}

.scrolled::-webkit-scrollbar-track {
  background-color: transparent;     /* optional: light green track */
  border-radius: 10px;
}

.scrolled_search{
  scroll-behavior: smooth; 
  scrollbar-width:thin;
  scrollbar-color: beige transparent;
  direction: rtl; 
  

}
.scrolled_search::-webkit-scrollbar{
  width: 8px;
  height: 8px;

}
.scrolled_search::-webkit-scrollbar-thumb {
  background-color: green;       /* change to your green */
  border-radius: 10px;
}

.scrolled_search::-webkit-scrollbar-track {
  background-color: transparent;     /* optional: light green track */
  border-radius: 10px;
}
.clearFilterBtn{
  all: unset;
  background-color: rgb(255, 255, 255);
  padding: 8px 25px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  display: block !important;
  margin-left: 90%;
  
}
.soundsPage .clearFilterBtn{
  margin-left: 70%;

}

@media only screen and (max-width: 1000px) and (min-width: 0){
  .clearFilterBtn{
    display: block !important;
    margin-left: 80%;
    }
  .soundsPage  .clearFilterBtn{
      display: block !important;
      margin-left: 50%;
      }
      .p-multiselect-panel .p-multiselect-header {
        padding: 0.75rem .5rem;
        ;
      }
      /* .swiper{
        min-width: 100% !important;
      } */
     
      .p-multiselect-panel .p-multiselect-items .p-multiselect-item {

        padding:0.2rem 0.6rem
      }


}
 /* .p-overlaypanel{
  left: 170px !important;
} */
.p-overlaypanel:before {
  left: 18px !important;
  display: none;
}