.sectionHeaderTitle{
    font-family: Tajawal;
    font-size: 32px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
    size: 32px;
    padding-bottom: 20px;
    padding-top: 120px;

}
.sectionHeaderTitle{
    color:#FCC345;
    text-align: center;

}
.sectionHeaderTitle > span{
    color: gray;
    display: block;
    font-family: Tajawal;
    font-size: 35px;
    font-weight: 800;


}
